<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isaac Book Notes</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="contents">
        <h1>Isaac Martin</h1>
        <h2>Books I've Read</h2>
        <p>Tiny summary but detailed notes for each. 
        Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, 
        so bookmark it if you want to check back in a few months.
        </p>
        <p>Sorted with my top recommendations up top. Sort by title, newest, or best.</p>
        <hr/>
    </div>



    
</body>
</html>