<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isaac's Blog</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>

    <div class="container">
        <div class="one"><a id="name" href="#home">isaac:~#</a></div>
        <div class="two"><a id='resume' href="#news">resume/</a></div>
        <div class="three"><a id='posts' href="#posts">post/</a></div>
        <div class="four"><a id='photos' href="#photos">photos/</a></div>
      </div>

    
